.terms_service_title{
    font-weight: 700;
    font-size: 50px;
    padding-top: 80px;
}
.term_service_text{
    font-size: 18px;
    padding-top: 25px;
    font-weight: 500;
    line-height: 35px;
}
.term_service_pera_title{
    font-size: 35px;
    padding-top: 70px;
}
